<div class="alert alert-primary">
    Tous les champs sont requis.
</div>
<div class="form-group">
    <label for="num">Num</label>
    <input value="{{appartement.num}}" type="number" class="form-control" id="num" name="num" aria-describedby="numHelp" placeholder="Entrer le numéro de l'appartement">
    <small id="numHelp" class="form-text text-muted">Numéro de l'appartement</small>
</div>
<div class="form-group">
    <label for="superficie">Superficie</label>
    <input value="{{appartement.superficie}}" type="text" class="form-control" id="superficie" name="superficie" aria-describedby="superficieHelp" placeholder="Entrer la superficie de l'appartement">
    <small id="superficieHelp" class="form-text text-muted">Superficie de l'appartement</small>
</div>
<div class="form-group">
    <label for="description">Description</label>
    <input value="{{appartement.description}}" type="text" class="form-control" id="description" name="description" aria-describedby="descriptionHelp" placeholder="Entrer la description de l'appartement">
    <small id="descriptionHelp" class="form-text text-muted">Description de l'appartement</small>
</div>

